/* geral */


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #DBD8CB;
	background: url(../img/bg.jpg);
	font-family: 'Open Sans', sans-serif;
}


h1 {
	font-size: 15px;
	color: #2d93ba;
	text-align: center;
}

h3 {
	font-size: 20px;
	color: #2d93ba;
	text-align: center;
}

h4 {
	font-size: 18px;
	color: #2d93ba;
	margin: 20px 0px;
}

header {
	background: #FFF;
	padding: 8px;
}

.pdd-no {
	padding:0;
}

.margem-40 {
	height: 40px;
}

.input-group-addon {
	background: #2d93ba;
	color: #FFF;
	border-color: #2d93ba;
	border-right: solid 1px #31a2cd !important;
}

.logo {
	text-align: center;
	margin-top: 150px;
	max-width: 100%;
}

.logo img {
	max-width: 100%;
}

.logo-lista {
	margin: 80px 0px 30px 0px;
}

.logo-lista img {
	max-width: 100%;
}

.logo-interna {
	text-align: center;
	margin-top: 120px;
	max-width: 100%;
}

.logo-interna img {
	max-width: 100%;
}

.logo img {
	max-width: 100%;
}

.navbar-inverse {
	padding: 2px;
}

.navbar-inverse .navbar-nav>li>a {
	border-top: solid 2px transparent;
	transition: 1s;
}

.navbar-inverse .navbar-nav>li>a:hover {
	border-top: solid 2px #2d93ba;
	color: #FFF;
}

.form-control {
	border-radius:0;
}

.add-input .form-control {	
	margin-bottom: 10px;
}

.container-form {
	max-width: 280px;
	margin:40px auto;
}

.container-form i {
	font-size: 20px;
}

.container-form .col-md-6:nth-child(1) {
	border-right: solid 3px #FFF;
}

.ddd {
	border-right: solid 5px #FFF;
}

.sg-selecao {
	margin-top: 8px;
}

.container-form .col-md-6 {
	padding: 0;
}

.bt-enviar {
	text-align: center;
	margin-bottom: 70px;
}

.bt-enviar input {
	background: #333;
	color: #FFF;
	border: 0;
	padding: 7px 15px;
	text-align: center;
	max-width: 90px;
	cursor: pointer;
	transition:1s;
}

.bt-enviar input:hover {
	background: #666;
}

.bt-enviar-lista {
	text-align: center;
	margin: 0px 0px 10px 5px;
}

.bt-enviar-lista input {
	background: #333;
	color: #FFF;
	border: 0;
	font-size: 13px;
	padding: 8px 15px;
	text-align: center;
	width: 100%;
	cursor: pointer;
	transition:1s;
}

.bt-enviar-lista input:hover {
	background: #666;
}

.form-control {
	color: #999 !important;
}

.lista-itens {
	padding: 0;
	margin: 0px 0px 40px 0px;
	list-style-type: none;
}

.lista-itens li {
	background: #FFF;
	margin: 8px 0px;
}

.lista-itens li a {
	color: #333;
	display: block;
	text-decoration: none;
	background: #FFF;	
	border: solid 1px #CCC;	
	height:100%;
	transition:1s;
	padding: 7px;
}

.lista-itens li a:hover {
	color: #FFF;
	border: solid 1px #555;
	background: #555;
}

.lista-itens i {
	padding: 0px 10px;
}

.sg-combo select {
	position: relative;
	top: -7px;
}

footer {
	text-align: center;
	background: #2d93ba;
	position: fixed;
	z-index: 9;
	bottom: 0;
	padding: 10px;
	width: 100%;
	color: #FFF;
}

@media screen and (max-width:990px) {
	.input-group {
		width: 100%;
	}

	select {
		margin-top: 10px;
	}
	.ddd {
		border-right: solid 0px #FFF;
	}

	.bt-enviar-lista {
		margin-top: 10px;
	}
}
